html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgb(211, 238, 243);
    padding: 10px;
}

body {
    background-color: rgb(245, 245, 245);
    padding: 10px;
}

#sun {
    float: right;
    margin-right: 40px;
}

.HrStyle1 {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 167%;
}

.navbarItem {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section {
    width: 60%;
}

aside {
    width: auto;
    float: right;
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    margin-right: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgb(123, 173, 182);
    /* border-style: groove rgb(37, 113, 141);*/
    text-shadow: 1.5px 1.5px rgb(200, 255, 250);
}

#greyList {
    list-style-type: square;
    background-color: rgb(247, 247, 247);
}

h2 {
    padding: 10px;
}

h3 {
    color: rgb(138, 190, 199);
    font-size: x-large;
}

h4 {
    font-size: larger;
}

h5 {
    font-style: oblique;
}

h6 {
    text-align: center;
    margin-top: 200px;
}

#contact {
    text-align: center;
    margin-top: 380px;
}

#contactIcon1 {
    margin-left: 8%;
    float: left;
}

#contactIcon2 {
    float: left;
    margin-left: 25%;
}

#contactIcon3 {
    float: right;
    margin-right: 10%;
}

#sonnenFrau {
    float: right;
    margin-right: 10%;
}

#superSonnenFrau {
    float: left;
    margin-left: 10%;
}

#premiumText {
    text-align: left;
    margin-left: 40%;
}

.comparisonTopic {
    font-size: 17px;
    table-layout: fixed;
    text-align: left;
    padding: 15px;
    border: 3px solid rgb(94, 94, 93);
    border-collapse: collapse;
}

#comparisonTable {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-collapse: collapse;
}

.comparison {
    font-size: 17px;
    text-align: center;
    table-layout: fixed;
    padding: 15px;
    border: 3px solid rgb(94, 94, 93);
    border-collapse: collapse;
}

#comparisonHeader {
    font-weight: bold;
}


/* Kontakt.html */

input :focus {
    width: auto;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 10%;
}

select {
    border: 1px solid black;
    width: 20%;
    height: 30px;
    border-radius: 5px;
}

textarea {
    border: 1px solid black;
    width: 80%;
    height: 500px;
    border-radius: 5px;
    resize: none;
    font-family: inherit;
    font-size: inherit;
}